[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "growthTrendR"]
	path = growthTrendR
	url = https://github.com/cfs-treering/growthtrendr
